
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166.8rem;
}.desktop-1-7Ra {
  background: linear-gradient(116.66deg, #5b9e9a 0%, rgba(91, 158, 154, 0.233779788) 35.38%, rgba(91, 158, 154, 0.5231340528) 46.95%, rgba(91, 158, 154, 0.8018217683) 61.53%, rgba(91, 158, 154, 0) 95.38%);
  box-sizing: border-box;
  padding: 0 2.7rem;
  align-items: center;
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;

  .auto-group-hqzi-Rqa {
    margin: 0rem 16.6rem 33.5rem 10.4rem;
    width: calc(100% - 27rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .rectangle-1-4GG {
      background: linear-gradient(180deg, #86cdb3 0%, rgba(134, 205, 179, 0) 99.59%);
      flex-shrink: 0;
      margin-right: 14.6rem;
      width: 5.5rem;
      height: 84.2rem;
    }
    .auto-group-rfhr-Gt8 {
      width: 114.3rem;
      flex-shrink: 0;

      .auto-group-jb1j-p8x {
        display: flex;
        align-items: center;
        margin: 0rem 50rem 22.9rem 0rem;
        width: calc(100% - 50rem);
        height: 15.8rem;

        .home-button-j12 {
          height: 100%;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 2.8rem;

          .image-2-TSp {
            vertical-align: top;
            flex-shrink: 0;
            width: 10rem;
            height: 10rem;
            object-fit: cover;
          }
          .home-YjA {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-2gik-XjW {
          column-gap: 10.2rem;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.8rem 0rem 1.7rem 8.2rem;
          height: 100%;
          display: flex;

          .about-button-zsz {
            margin-top: 0.1rem;
            cursor: pointer;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .image-3-KfN {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.1295rem;
              width: 8.8rem;
              height: 8.0705rem;
            }
            .about-qdi {
              flex-shrink: 0;
              margin-left: 0.9rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .skillset-button-m1a {
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 7.8rem;
            height: 10.7rem;
            cursor: pointer;
            position: relative;

            .image-4-URn {
              height: 7.8rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 7.8rem;
            }
            .skillset-1Ap {
              font-family: Inter, 'Source Sans Pro';
              height: 3rem;
              position: absolute;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              white-space: nowrap;
              width: 7.8rem;
              left: 0;
              top: 7.7rem;
            }
          }
          .contact-button-gXr {
            height: calc(100% - 2rem);
            cursor: pointer;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.4rem 0rem 0.6rem 0rem;

            .image-5-bep {
              height: 5.5rem;
              position: relative;
              background-size: 90.909% 106.383%;
              background-position: 0 0;
              background-image: url('REPLACE_IMAGE:de79f45cbe13f9e52969309686903f4dcfdb6765');
              flex-shrink: 0;
              margin: 0rem 0rem 0.8rem 0.1rem;
              width: 6.4rem;
            }
            .contact-UCp {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
      .group-11-yfN {
        align-items: center;
        margin-left: 2.5rem;
        width: calc(100% - 2.5rem);
        height: 29.8rem;
        display: flex;

        .image-1-u3E {
          margin-right: 10.2rem;
          width: 24.5rem;
          height: 29.8rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-6lwi-D3v {
          flex-shrink: 0;
          margin: 3.3rem 0rem 2rem 0rem;
          height: calc(100% - 5.3rem);
          display: flex;
          flex-direction: column;

          .auto-group-s3r8-6Nc {
            margin-bottom: 0.6rem;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .item--PMi {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.9rem;
              font-size: 4.8rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #090000;
            }
            .item--4Cx {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 2.9rem;
              font-size: 4.8rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .welcome-xp8 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.5rem;
              font-size: 4.8rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #0f0606;
            }
          }
          .myself-mohamad-iliyas-studentcyber-security-owasp-bsacist-chapter-leader-4cG {
            max-width: 77.1rem;
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #0e0606;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .group-10-TuJ {
    flex-shrink: 0;
    margin: 0rem 16.498rem 50.453rem 0rem;
    width: 144.9022rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10rem;

    .item-1707901-1-xr4 {
      width: 25.7827rem;
      height: 34.3504rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 10rem;
      flex-shrink: 0;
      margin: 0rem 57.341rem 3.496rem 0rem;
    }
    .a-gist-about-me-im-a-bachelor-of-technonologycsecyber-security-pursuing-at-bsacrescent-institute-of-science-and-technology-and-a-cyber-security-zealotctf-playertry-hack-me-penetration-testerbug-hunteraiu-sports-person-GLx {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 0.5022rem;
      max-width: 144.4rem;
      font-size: 4.8rem;
    }
  }
  .group-6-4Gp {
    flex-shrink: 0;
    margin: 0rem 9.422rem 43.346rem 0rem;
    width: 151.9775rem;
    height: 66.7544rem;
    position: relative;

    .rectangle-13-aFA {
      width: 47.8496rem;
      height: 16.0669rem;
      position: absolute;
      left: 0;
      top: 48.2886rem;
      background: linear-gradient(180deg, #83ccc3 0%, rgba(131, 204, 195, 0) 100%);
    }
    .ui-ux--U5e {
      top: 48.2008rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 21.9rem;
      position: absolute;
      font-size: 4.8rem;
      height: 11.7rem;
      left: 12.9062rem;
    }
    .group-7-9xU {
      height: 66.7544rem;
      position: absolute;
      left: 0;
      top: 0;
      width: 151.9775rem;

      .rectangle-12-VWY {
        width: 47.8496rem;
        height: 16.0669rem;
        position: absolute;
        left: 52.0639rem;
        top: 48.2886rem;
        background: linear-gradient(180deg, #83ccc3 0%, rgba(131, 204, 195, 0) 100%);
      }
      .ethical-hacking--nVe {
        left: 58.122rem;
        top: 49.2544rem;
        font-size: 4.8rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        height: 17.5rem;
        line-height: 1.2125;
        width: 20.6rem;
      }
      .group-8-gL8 {
        flex-direction: column;
        width: 151.9775rem;
        height: 65.7886rem;
        position: absolute;
        left: 0;
        top: 0;
        align-items: flex-end;
        display: flex;

        .group-9-pBS {
          height: 42.2589rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 6.0297rem;
          width: 100%;

          .rectangle-10-kqn {
            background: linear-gradient(180deg, #83ccc3 0%, rgba(131, 204, 195, 0) 100%);
            width: 47.8496rem;
            height: 16.0669rem;
            position: absolute;
            left: 104.1279rem;
            top: 25.6369rem;
          }
          .language-pycjavabashetc-GJL {
            height: 17.5rem;
            left: 109.9225rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 32.2rem;
            top: 24.7589rem;
            font-size: 4.8rem;
            font-weight: 400;
            position: absolute;
          }
          .group-3-62U {
            width: 151.9775rem;
            height: 41.7038rem;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: flex-start;

            .group-4-D76 {
              width: 99.9136rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;
              margin-right: 4.2143rem;

              .rectangle-11-8zk {
                background: linear-gradient(180deg, #83ccc3 0%, rgba(131, 204, 195, 0) 100%);
                width: 47.8496rem;
                height: 16.0669rem;
                position: absolute;
                left: 52.0639rem;
                top: 25.6369rem;
              }
              .aiu-sports-person--SEk {
                width: 41.6rem;
                height: 11.7rem;
                font-size: 4.8rem;
                font-family: Inter, 'Source Sans Pro';
                position: absolute;
                left: 56.805rem;
                top: 25.6369rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
              .group-2-KpL {
                height: 41.7038rem;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                align-items: flex-start;
                width: 99.9136rem;

                .group-5-FT6 {
                  margin-right: 4.2143rem;
                  width: 47.8496rem;
                  height: 100%;
                  flex-shrink: 0;

                  .group-1-Apx {
                    margin: 0rem 0.589rem 9.768rem 0rem;
                    box-sizing: border-box;
                    padding: 0.173rem 10.594rem 0.173rem 11.967rem;
                    height: 15.8692rem;
                    background: linear-gradient(180deg, #83ccc3 0%, rgba(131, 204, 195, 0) 100%);

                    .ctf-player--fFv {
                      line-height: 1.2125;
                      color: #000000;
                      font-family: Inter, 'Source Sans Pro';
                      max-width: 24.7rem;
                      font-size: 4.8rem;
                      font-weight: 400;
                    }
                  }
                  .auto-group-i2kz-XZ2 {
                    height: 16.0669rem;
                    background: linear-gradient(180deg, #83ccc3 0%, rgba(131, 204, 195, 0) 100%);
                    box-sizing: border-box;
                    padding: 0.176rem 10.034rem 0.176rem 12.116rem;
                    width: 100%;

                    .bug-hunter--3XN {
                      color: #000000;
                      font-family: Inter, 'Source Sans Pro';
                      max-width: 25.7rem;
                      font-size: 4.8rem;
                      font-weight: 400;
                      line-height: 1.2125;
                    }
                  }
                }
                .auto-group-nvqr-j9J {
                  box-sizing: border-box;
                  padding: 0 6.058rem;
                  width: 47.8496rem;
                  height: 16.0669rem;
                  background: linear-gradient(180deg, #83ccc3 0%, rgba(131, 204, 195, 0) 100%);
                  flex-shrink: 0;

                  .try-hack-me--TLC {
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    max-width: 28.7rem;
                    font-size: 4.8rem;
                  }
                }
              }
            }
            .auto-group-hqpq-j2p {
              box-sizing: border-box;
              padding: 0rem 0.255rem 0rem 5.795rem;
              height: 16.0669rem;
              background: linear-gradient(180deg, #83ccc3 0%, rgba(131, 204, 195, 0) 100%);
              flex-shrink: 0;

              .penetration-tester--RgL {
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                max-width: 41.8rem;
                font-size: 4.8rem;
              }
            }
          }
        }
        .auto-group-nke4-Wxg {
          position: relative;
          flex-shrink: 0;
          width: 47.8496rem;
          height: 17.5rem;

          .rectangle-11-3xc {
            left: 0;
            top: 0;
            background: linear-gradient(180deg, #83ccc3 0%, rgba(131, 204, 195, 0) 100%);
            width: 47.8496rem;
            height: 16.0669rem;
            position: absolute;
          }
          .iot-skills--mtc {
            font-weight: 400;
            height: 17.5rem;
            position: absolute;
            left: 7.6384rem;
            top: 0;
            font-size: 4.8rem;
            line-height: 1.2125;
            color: #000000;
            width: 16.2rem;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
  }
  .group-15-fUC {
    margin-right: 10rem;
    width: 146rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-r7cl-oKW {
      margin-bottom: 0.9931rem;
      width: 100%;
      height: 43.61rem;
      position: relative;
      flex-shrink: 0;

      .group-14-8sa {
        height: 23.2225rem;
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 146rem;

        .image-8-gPJ {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.309rem 1.157rem 0rem;
          width: 43.2676rem;
          height: 13.2652rem;
        }
        .https-owasporg-www-chapter-bs-abdur-rahman-crescent-institute-of-science-and-technology--bmA {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 146rem;
          font-size: 3.6rem;
        }
      }
      .group-13-fm2 {
        left: 6.5881rem;
        top: 22.079rem;
        display: flex;
        align-items: flex-end;
        width: 135.1273rem;
        height: 11.2928rem;
        position: absolute;

        .image-7-nKr {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.424rem 2.39rem 0rem;
          width: 8.9028rem;
          height: 8.9028rem;
        }
        .https-wwwinstagramcom-invites-contact-i7szxbl8ya1jyutmcontentoaeg8r2-65e {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 124.8rem;
          font-size: 3.6rem;
        }
      }
      .group-12-xtY {
        top: 32.3172rem;
        display: flex;
        align-items: flex-end;
        width: 59.5834rem;
        height: 11.2928rem;
        position: absolute;
        left: 42.5554rem;

        .image-6-Vda {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.781rem 2.39rem 0rem;
          width: 8.9028rem;
          height: 8.9028rem;
        }
        .https-githubcom-iliyas-cse-cs-ciC {
          max-width: 48.9rem;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .auto-group-9oeg-XKN {
      width: calc(100% - 103.9837rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 61.161rem 0rem 42.822rem;

      .image-9-Eja {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7806rem;
        width: 8.6357rem;
        height: 8.6357rem;
        object-fit: cover;
      }
      .mohamadiliyas777gmailcom-mohamadiliyas777outlookcom-ySG {
        max-width: 31.6rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
}
